################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TankProject/TankProject.VC.VC.opendb
/TankProject/Debug
