################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TankProject/TankProject.VC.VC.opendb
/TankProject/Debug

TankProject/\.vs/

TankProject/TankProject\.VC\.db

TankProject/TankProject/Debug/
TankProject/TankProject/x64/Debug/vc140.idb
TankProject/TankProject/x64/Debug/TankProject.tlog/unsuccessfulbuild
TankProject/TankProject/x64/Debug/TankProject.tlog/TankProject.lastbuildstate
TankProject/TankProject/x64/Debug/TankProject.tlog/CL.write.1.tlog
TankProject/TankProject/x64/Debug/TankProject.tlog/CL.read.1.tlog
TankProject/TankProject/x64/Debug/TankProject.tlog/CL.command.1.tlog
TankProject/TankProject/Media.zip
TankProject/TankProject/highscore.txt

*.vcxproj

*.filters
